# Ignore Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.venv/
.env/

# Ignore compiled gRPC files
src/grpc_client/*.py
src/grpc_client/*.pyi
src/grpc_client/__pycache__/

# remote files
src/protos/*

# testing
tests/FloWWeaver
gocv/

# Ignore logs and temporary files
logs/
*.log
debug.log
*.tmp

# Ignore PyCharm and VS Code settings
.idea/*
.idea/.gitignore
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
